<!doctype html>
<style>
	body {background: #333; color: white; border: double; padding-top: 50px; padding-right: 30px; padding-bottom: 50px;
	padding-left: 80px;}
	h1   {color: white; font-family: Arial;}
	h3   {font-family: Serif; font-family: Arial;  display: block;}
	p    {color: white;}

</style>
<title>Upload Video</title>
<h1>Face Detector</h1>
<h3>Select mp4 video with a face you want to detect</h3>
<h3>and include a name as well.</h3>

<form method="post" enctype="multipart/form-data">

         <input type = "file" name = "File" />
	<p>Name <input type = "text" name = "Name" /></p>
		<input type="submit" value="Submit">

</form>